/*
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');

    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
     
*/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    

    #btns {
        grid-area: btns;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #btns > button {
        background-color: #FF5B44;
        color: white;
        font-style: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 10px;
        min-width: 10vw;
        border-radius: 3px;
        border: 1px solid transparent;
        cursor: pointer;
    }

    #btns > button:hover {
        border: 1px solid black;
    }

    #userImg {
        grid-area: userImg;
    }
    
    #userImg > img {
        width: 100%;
        height: 100%;
    }


    #cpuImg {
        grid-area: cpuImg;
    }

    #cpuImg > img {
        width: 100%;
        height: 100%;
    }
    #scrBoard {
        grid-area: scrBoard;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #round {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

    #scores {
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;
    }

    #drawCnt {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
    }

    #result {
        grid-area: result;
        overflow: scroll;
        font-family: 'Roboto', sans-serif;
    }

    #result > h1 {
        font-size: 1.5rem;
    }

    body {
        margin: 10px;
    }
    
    main {
        display: grid;
        height: 80vh;
        width: 70vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
            "userImg scrBoard cpuImg"
            "btns btns btns"
            "result result result";
        grid-gap: 1rem;
        margin: auto;
    }

    main > div {
        border: 1px solid black;
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        main {
            width: 100vw;
            height: 100vh;
            margin: auto;
            padding: 10px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 1fr 1fr 1fr;
            grid-template-areas:
                "userImg cpuImg"
                "scrBoard scrBoard"
                "btns btns"
                "result result";
            justify-content: center;
        }
    
        body {
            margin: auto;
        }

        #userImg > img {
            width: 80%;
            height: 80%;
        }

        #cpuImg > img {
            width: 80%;
            height: 80%;
        }
    }
}